PORT=3001
DATABASE_URL="postgresql://YOUR_DB_USER:YOUR_PASSWORD@localhost:5432/vibecheck"
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret
JWT_SECRET=your_jwt_secret_here
